{% extends 'base.html' %}
{% block title %}
Email Verification
{% endblock title %}
{% block head %}
<style>

.z-depth-3 {
    -webkit-box-shadow: 0 0px 7px 0 rgba(0,0,0,0.09),0 0px 20px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0px 7px 0 rgba(0,0,0,0.09),0 0px 20px 0 rgba(0,0,0,0.2);
}
</style>
{% endblock head %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 z-depth-3"
                 style="text-align:center; margin-top:50px; padding:60px;">
                <img src="/static/images/link-sent.png" style="">
                <h2>Verification link sent.</h2>
                <h4>Please check your email for the link.</h4>
            </div>
        </div>
    </div>
</section>
{% endblock content %}