{% extends 'base.html' %}

{% block title %}
Sell
{% endblock title %}

{% block head %}
<style>
label {
	width:20%;
}
textarea{
    width: 600px;
	height: 120px;
	padding: 5px;
    vertical-align: top;
}
body{
color: #1a202c;
text-align: left;
background-color: #e2e8f0;
}

.z-depth-3 {
    -webkit-box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
    box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 13px 25px 0 rgba(0,0,0,0.3);
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}





</style>
{% endblock head %}

{% block content %}
{% load i18n widget_tweaks %}
<div class="container" style="margin-top:20px; align:center;">
    <div class="row">

        <div class="col-lg-10">
            <div class="card z-depth-3">
                <div class="card-body" style="">
                    <div class="col-lg-12"><h4><i class="fa fa-bullhorn"></i></h4></div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-lg-12">
                            {% for field in form %}
                             <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">{{field.label}}</label>
                                    <div class="col-lg-9">
                                         {{ field|attr:"class:form-control" }}
                                    </div>
                             </div>

                            {% endfor %}
                        </div>
                        <div class="col-lg-9">
                            <input type="reset" class="btn btn-secondary" value="Cancel">
                            <input type="submit" class="btn btn-primary" value="Post an AD">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

{% endblock content %}