{% extends 'base.html' %}
{% block title %}
HoneyComb
{% endblock title %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a href="{% url 'home' %}" class="navbar-brand"><img src="/static/images/icons/icon.png"
                                                         style="width:30px;height:40px;"> Honey<b>Comb</b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <div class="navbar-nav">
            <a href="{% url 'home'%}" class="nav-item nav-link active">Home</a>
            <a href="#" class="nav-item nav-link">About</a>
            <div class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle">Buy</a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Books/Notes</a>
                    <a href="#" class="dropdown-item">Stationery/Equipments</a>
                    <a href="#" class="dropdown-item">Cycle</a>
                    <a href="#" class="dropdown-item">Others</a>
                </div>
            </div>
            <a href="#" class="nav-item nav-link">Sell</a>
            <a href="#" class="nav-item nav-link">Contact Us</a>
        </div>
        <form class="navbar-form form-inline">
            <div class="input-group search-box">
                <input type="text" id="search" class="form-control" placeholder="Search here...">
                <div class="input-group-append">
					<span class="input-group-text">
						<i class="material-icons">&#xE8B6;</i>
					</span>
                </div>
            </div>
        </form>
        <div class="navbar-nav ml-auto ">
            <div class="navbar-nav">
                <div class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle" style="padding: 10px">Hi,
                        {{user.full_name}}</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Your Profile</a>
                        <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
{% if user.is_authenticated %}
<div style="width: 100%;margin-bottom:20px;"><img src="/static/images/home_banner.jpg" style="width:100%"></div>
<section id="gallery">
    <div class="container" style="">
        <div style="margin-bottom:20px;"><h4><b>Recently Added</b></h4></div>
        <div class="row">
            {% for x in products %}
            <div class="col-lg-3 mb-3">
                <div class="card">
                    <img src="{{ x.image_url }}"
                         style="width:auto; height:150px;display: block;
                          margin-left: auto;
                          margin-right: auto;"
                         alt="" class="card-img-top ">
                    <div class="card-body">
                        <h5 class="card-title">{{ x.name }}</h5>
                        <p class="card-text">₹ {{ x.price }}</p>
                        <a href="/buy/product/{{x.id}} ">
                            <style>
                            .btn-outline-warning{color:#ad7c2d; border-color:#ad7c2d; }
                            .btn-outline-warning:hover { background-color:#ebb523; color:#fcfcfc;border-color:#ebb523; }
                            </style>
                            <button id="apr{{x.id}}" class="btn btn-outline-warning btn-sm">Buy Now
                            </button>
                        </a>
                        <a href="" class="btn btn-outline-danger btn-sm"><i class="fa fa-heart"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% else %}
<p>You are not logged in!</p>
<a href="{% url 'login' %}">Log In</a> /
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock content %}
