{% extends 'base.html' %}
{% block title %}
HoneyComb
{% endblock title %}
{% block head %}
<style>
.z-depth-3 {
    -webkit-box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 0px 25px 0 rgba(0,0,0,0.3);
    box-shadow: 0 11px 7px 0 rgba(0,0,0,0.19),0 0px 25px 0 rgba(0,0,0,0.3);
}</style>
{% endblock head %}
{% block content %}
{% if user.is_authenticated %}
<div style="width: 100%;margin-bottom:20px;"><img src="/static/images/home_banner.jpg" style="width:100%"></div>
<section id="gallery">
    <div class="container" style="">
        <div style="margin-bottom:20px;"><h4><b>Recently Added</b></h4></div>
        <div class="row">
            {% for x in products %}
            <div class="mb-3 z-depth-3" style="margin:10px 10px 10px 10px; width:260px">
                <div >
                    <a href="/buy/product/{{x.id}} "><img src="/media/{{ x.Img1 }}"
                                                          style="width:auto; height:150px;display: block; max-width:250px;
                                                          margin-left: auto;
                                                          margin-right: auto; margin-top:10px;"
                                                          alt="" class="card-img-top "></a>
                    <div class="card-body">
                        <h5 class="card-title">{{ x.name }}</h5>
                        <p class="card-text">₹ {{ x.price }}</p>
                        <a href="/buy/product/{{x.id}} " style="text-decoration:none;">
                            <style>
                            .btn-outline-warning{color:#ad7c2d; border-color:#ad7c2d; }
                            .btn-outline-warning:hover { background-color:#ebb523; color:#fcfcfc;border-color:#ebb523; }
                            </style>
                            <button id="apr{{x.id}}" class="btn btn-outline-warning btn-sm">Buy Now
                            </button>
                        </a>
                        <form action="/wishlist/{{x.id}}" method="post" style="display:inline">
                           {% csrf_token %}
                        {% if x.id in ids %}
                            <button class="btn btn-outline-danger btn-sm"><i class="fa fa-heart"></i></button>
                        {% else %}
                            <button class="btn btn-outline-danger btn-sm"><i class="fa fa-heart-o"></i></button>
                        {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% else %}
<p>You are not logged in!</p>
<a href="{% url 'login' %}">Log In</a> /
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock content %}
