{% extends 'base.html' %}
{% block title %}
HoneyComb
{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
<div style="width: 100%;margin-bottom:20px;"><img src="/static/images/home_banner.jpg" style="width:100%"></div>
<section id="gallery">
    <div class="container" style="">
        <div style="margin-bottom:20px;"><h4><b>Recently Added</b></h4></div>
        <div class="row">
            {% for x in products %}
            <div class="col-lg-3 mb-3">
                <div class="card">
                    <a href="/buy/product/{{x.id}} "><img src="{{ x.image_url }}"
                                                          style="width:auto; height:150px;display: block;
                                                          margin-left: auto;
                                                          margin-right: auto;"
                                                          alt="" class="card-img-top "></a>
                    <div class="card-body">
                        <h5 class="card-title">{{ x.name }}</h5>
                        <p class="card-text">₹ {{ x.price }}</p>
                        <a href="/buy/product/{{x.id}} " style="text-decoration:none;">
                            <style>
                            .btn-outline-warning{color:#ad7c2d; border-color:#ad7c2d; }
                            .btn-outline-warning:hover { background-color:#ebb523; color:#fcfcfc;border-color:#ebb523; }

                            </style>
                            <button id="apr{{x.id}}" class="btn btn-outline-warning btn-sm">Buy Now
                            </button>
                        </a>
                        <form action="/wishlist/{{x.id}}" method="post" style="display:inline">
                           {% csrf_token %}
                        <button class="btn btn-outline-danger btn-sm"><i class="fa fa-heart"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% else %}
<p>You are not logged in!</p>
<a href="{% url 'login' %}">Log In</a> /
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock content %}
